
/* Thema Piano */
Color Theme Swatches in Hex 
.Close-up-shot-of-piano-keyboard-1-hex { color: #735A3C; }
.Close-up-shot-of-piano-keyboard-2-hex { color: #A6855D; }
.Close-up-shot-of-piano-keyboard-3-hex { color: #D9B991; }
.Close-up-shot-of-piano-keyboard-4-hex { color: #403022; }
.Close-up-shot-of-piano-keyboard-5-hex { color: #0D0D0D; }

Color Theme Swatches in RGBA 
.Close-up-shot-of-piano-keyboard-1-rgba { color: rgba(114, 89, 59, 1); }
.Close-up-shot-of-piano-keyboard-2-rgba { color: rgba(165, 132, 92, 1); }
.Close-up-shot-of-piano-keyboard-3-rgba { color: rgba(216, 184, 145, 1); }
.Close-up-shot-of-piano-keyboard-4-rgba { color: rgba(63, 47, 33, 1); }
.Close-up-shot-of-piano-keyboard-5-rgba { color: rgba(12, 12, 12, 1); }

Color Theme Swatches in HSLA 
.Close-up-shot-of-piano-keyboard-1-hsla { color: hsla(33, 31, 34, 1); }
.Close-up-shot-of-piano-keyboard-2-hsla { color: hsla(33, 29, 50, 1); }
.Close-up-shot-of-piano-keyboard-3-hsla { color: hsla(33, 48, 70, 1); }
.Close-up-shot-of-piano-keyboard-4-hsla { color: hsla(28, 30, 19, 1); }
.Close-up-shot-of-piano-keyboard-5-hsla { color: hsla(0, 0, 5, 1); }

/* Thema Barbeaira */
Color Theme Swatches in Hex
.Logo-Collection-No-6---The-Grand-Release-1-hex { color: #1C2226; }
.Logo-Collection-No-6---The-Grand-Release-2-hex { color: #090B0D; }
.Logo-Collection-No-6---The-Grand-Release-3-hex { color: #595956; }
.Logo-Collection-No-6---The-Grand-Release-4-hex { color: #8C8A80; }
.Logo-Collection-No-6---The-Grand-Release-5-hex { color: #D9D3C1; }

Color Theme Swatches in RGBA
.Logo-Collection-No-6---The-Grand-Release-1-rgba { color: rgba(28, 34, 38, 1); }
.Logo-Collection-No-6---The-Grand-Release-2-rgba { color: rgba(9, 11, 12, 1); }
.Logo-Collection-No-6---The-Grand-Release-3-rgba { color: rgba(88, 89, 85, 1); }
.Logo-Collection-No-6---The-Grand-Release-4-rgba { color: rgba(140, 138, 127, 1); }
.Logo-Collection-No-6---The-Grand-Release-5-rgba { color: rgba(216, 210, 192, 1); }

Color Theme Swatches in HSLA
.Logo-Collection-No-6---The-Grand-Release-1-hsla { color: hsla(202, 14, 13, 1); }
.Logo-Collection-No-6---The-Grand-Release-2-hsla { color: hsla(202, 14, 4, 1); }
.Logo-Collection-No-6---The-Grand-Release-3-hsla { color: hsla(67, 2, 34, 1); }
.Logo-Collection-No-6---The-Grand-Release-4-hsla { color: hsla(50, 5, 52, 1); }
.Logo-Collection-No-6---The-Grand-Release-5-hsla { color: hsla(45, 23, 80, 1); }

/* Thema Azul */
Color Theme Swatches in Hex
.fondo-azul--1-hex { color: #07060D; }
.fondo-azul--2-hex { color: #161426; }
.fondo-azul--3-hex { color: #252C40; }
.fondo-azul--4-hex { color: #3F4659; }
.fondo-azul--5-hex { color: #BABBBF; }

Color Theme Swatches in RGBA
.fondo-azul--1-rgba { color: rgba(7, 6, 12, 1); }
.fondo-azul--2-rgba { color: rgba(22, 19, 38, 1); }
.fondo-azul--3-rgba { color: rgba(36, 43, 63, 1); }
.fondo-azul--4-rgba { color: rgba(63, 69, 89, 1); }
.fondo-azul--5-rgba { color: rgba(185, 186, 191, 1); }

Color Theme Swatches in HSLA
.fondo-azul--1-hsla { color: hsla(247, 34, 3, 1); }
.fondo-azul--2-hsla { color: hsla(247, 31, 11, 1); }
.fondo-azul--3-hsla { color: hsla(225, 26, 19, 1); }
.fondo-azul--4-hsla { color: hsla(225, 16, 29, 1); }
.fondo-azul--5-hsla { color: hsla(225, 4, 73, 1); }
